<!--フラッシュメッセージを状況に応じて表示させる-->
<% if flash[:notice] %>
  <%= flash[:notice] %>
  <% flash.delete(:notice) %>
<% end %>

<!--レコードの表示-->
<p class="show-title">Title: <span><%= @book.title %></span></p>
<p class="show-body">Body: <span><%= @book.body %></span></p>

<!--各ページへのリンク-->
<%= link_to "Edit", edit_book_path(@book.id) %>
<%= link_to "Back", books_path %>